
<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
		<li><span class="tooltip">Subscribe!</span><a class="fa fa-rss" target="_blank" href="{{@blog.url}}/rss/"></a></li>
		<li><span class="tooltip">Twitter</span><a class="fa fa-twitter" href="https://twitter.com/kevinmeurer"></a></li>
		<li><span class="tooltip">Facebook</span><a class="fa fa-facebook" href="https://www.facebook.com/kevin.a.meurer"></a></li>
		<li><span class="tooltip">Github</span><a class="fa fa-github" href="https://github.com/kmeurer"></a></li>	
	</ul>
		<hr />
		<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.</p>
	</div>
</footer>
